<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pure football{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo-container">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-img">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('products') }}">Products</a></li>
                <li><a href="{{ url_for('use_cases') }}">Use Cases</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            </ul>
        </div>
    </nav>
    

    {% block content %}{% endblock %}
</body>
</html>
